$img-size: 100px;

.roster {

    text-align: left;
    display: inline-block;
    min-width: 600px;
    height: 850px;
    overflow-y: scroll;
    padding:20px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);

    .teamInfo {
    
            .teamLogo {
                float: right;
                width: $img-size;
                height: $img-size;
                display: block;
                position: relative;
                top: -18px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .teamName, .ownerName, .record {
                margin: 2px;
            }

            .teamName {
                font-family: 'Galindo';
            }

    }

    table.playersTable {
        margin-top: 30px; 
        width: 100%;      
        font-size: 1.1em; 
        border-collapse: collapse;

        .pos0 {
            border-top: solid 1px;
            border-color: #263e68;
        }

        td {
            padding: 3px;
        }

        .trading-block::after {
            font-size: .6em; 
            content: "Tradeing Block";
            color: red;
            position: relative;
            top: 0px;
            left: 10px;
        }

    }


    .picks {
        margin-top: 25px;
        .pick {
            font-size: 1.2em;
            text-align: center;
            width: 100%;
            color: #990806;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(191, 181, 192, 0.7);
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(191, 181, 192, 0.7);
  }