.nav {
    background-color: #263e68;
    padding: 10px;
    margin: 0px;

    .logo {
        font-family: 'Galindo';
        padding: 5px 10px 5px 10px;
        background-color: white;
        display: inline-block;
        border-radius: 10px;

        p {
            margin: 0px;
            font-size: 2em;
            color: #CD2122;
        }
    }
        
    
}