$filter-width: 15%;

.search-Filters {
    margin: auto;
    width: $filter-width;
    position: fixed;
    min-height: 150px;
    float: left;
    
    .filters-section {
        margin-top: 20px;
        text-align: center;

        .heading {
            font-size: 1.5em;
            margin-bottom: 15px;
            color: #263e68;
            font-family: 'Galindo';
            text-align: left;
            margin-left: 18px;
        }

        .filter {
            font-family: 'Galindo';
            margin: auto;
            display: block;
            font-weight: bold;
            padding: 15px;
            margin: 5px;
            margin-left: 40px;
            width: 70%;
            border-radius: 12px;
            cursor: pointer;
            border: 1px solid black;
            transition: all .5s;
        }

        .active {
            background-color: #c0f8af;
            width: 85%;
        }

        .not-active {
            background-color: #d9d9d9;
            text-decoration: line-through;
        }

        .salary-limit-filter {
            margin-top: 30px;
            text-align: left;
            label {
                font-size: 1.3em;
            }
            .input-wrapper {
                margin-left: 30px;
            }
        }

        .salary-range-input {
            margin: 15px;
            font-size: 1.3em;
            text-align: center;
            width: 60px;
        }
    }

}

.rosters {
    margin-left: $filter-width;
    text-align: center;
    margin-bottom: 200px;
}